@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;700&family=Roboto+Slab:wght@200;900&display=swap');

$blue-color: #0290ff;
$white-color: #fff;
$light-grey: #e8e8e8;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', serif;
$light-blue: #4386bf;
$black-color: #121212;

.d-flex {
  display: flex;
}

.not-selected-link {
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
  width: 75%;
}

nav {
  width: 100%;
  height: 6rem;
  background-color: $white-color;
  justify-content: center;
  font-family: $montserrat;
}

nav h1 {
  font-size: 2vw;
  color: $blue-color;
  font-weight: 800;
}

.user-svg {
  width: 1.2rem;
  height: 1.2rem;
}

nav button {
  background-color: transparent;
  border: 1px solid $light-grey;
  border-radius: 50%;
  padding: 0.8rem 0.9rem;
}

.nav-content-container {
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-and-links {
  width: 35%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-and-links p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7vw;
  color: $black-color;
  letter-spacing: 0.1rem;
}

.books-container {
  width: 100%;
}

.book-description {
  margin-top: 1.3rem;
  background-color: $white-color;
  padding: 2rem 1.5rem;
  font-family: $roboto;
  border: 1px solid #e8e8e8;
  border-radius: 0.3rem;
}

.book-main-properties p:first-child {
  font-family: $montserrat;
  font-weight: 800;
  font-size: 0.9rem;
  color: $black-color;
  opacity: 0.5;
}

.book-main-properties h2 {
  font-weight: 900;
  letter-spacing: -0.5px;
  color: $black-color;
  font-size: 1.8rem;
  margin-top: 0.6rem;
}

.book-main-properties p:nth-child(3),
.book-options button {
  color: $light-blue;
}

.book-options {
  margin-top: 1.2rem;
  width: 15%;
  justify-content: space-between;
}

.book-options button {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
}

.book-options button:not(:last-child) {
  border-right: 1px solid $light-grey;
  padding-right: 0.8rem;
}
